*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    color: #ebebeb;
}

body{ 
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.mainBox{
    display: flex;
    margin: 100px auto;
    padding: 50px;
    width: 1000px;
    height: 700px;
    text-align: center;
    background: #5f5f5f;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center;
}

.mainBox h1{
    font-size: 50px;
}

.btn{
    width: 155px;
    height: 50px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    background:transparent;
}

.quizBox{    
    display: none;
    margin: 100px auto;
    padding: 50px;
    width: 1000px;
    height: 700px;
    background: #5f5f5f;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center;
}

.quizBox h1{
    text-align: center;
    font-size: 40px;
}

#question{
    font-size: 30px;
    margin-bottom: -20px;
}

#options li{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 25px;
    align-items: center;
    text-align: left;
    list-style: none;
    cursor: pointer;
}

.nextEnabled{
    margin: 0 auto;
}

.nextDisabled{
    margin: 0 auto;
    pointer-events: none;
    opacity: 0.5;
}

.resultBox{    
    display: none;
    margin: 100px auto;
    padding: 50px;
    width: 1000px;
    height: 700px;
    background: #5f5f5f;
    border-radius: 30px;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center;
}

#msg{
    font-size: 40px;
}

.rSpan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
}

#progress span{
    font-weight: bold;
    font-size: 35px;
}


@media screen and (max-width: 1100px) {

    .mainBox , .quizBox , .resultBox{
        width: 700px;
    }
}


@media screen and (max-width: 768px) {

    .mainBox , .quizBox , .resultBox{
        width: 450px;
        height: 550px;  
        padding: 30px;
    }

    .mainBox h1{
    font-size: 33px;
    }

    .btn{
    width: 140px;
    height: 45px;
    font-size: 17px;
    }

    .quizBox h1{
    font-size: 30px;
    }

    #question{
    font-size: 24px;
    }

    #options li{
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 20px;
    }

    #msg{
        font-size: 26px;
    }

    .rSpan{
    gap: 10px;
    font-size: 20px;
    }

    #progress span{
    font-size: 24px;
    }
}


@media screen and (max-width: 480px) {

    .mainBox , .quizBox , .resultBox{
        width: 370px;
        height: 450px;
        padding: 15px;
        margin: 70px auto;
    }

    .mainBox h1{
    font-size: 30px;
    }

    .btn{
    width: 110px;
    height: 38px;
    font-size: 14px;
    }

    .quizBox h1{
    font-size: 24px;
    margin-bottom: -10px;
    }

    #question{
    font-size: 18px;
    }

    #options li{
    padding: 10px;
    margin-bottom: 6px;
    height: 40px;
    font-size: 17px;
    }

    #msg{
        font-size: 21px;
    }

    .rSpan{
    gap: 7px;
    font-size: 17px;
    }

    #progress span{
    font-size: 20px;
    }
}